.open {
	width: 100%;
}

.users {
	display: grid;
	gap: 10px;
}

.control {
	padding: 17px 19px 11px 10px;
	width: 100%;
	display: flex;
	align-items: center;
	color: #616f82;
	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	&__button {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 14px;
	}
	&__quantity {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 14px;
		line-height: 20px;
		color: #616f82;
		flex: 1 1 auto;
	}
	&__value {
		width: 28px;
		height: 18px;
		text-align: center;
		background-color: #4198c5;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		color: #fff;
		font-size: 12px;
		line-height: 14px;

		&_dark {
			background-color: #616f82;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 15px;
	}
}
